<!DOCTYPE html>
<html>
    <head>
        <title>DiaLogs</title>
        <meta charset="UTF-8">
        <meta name="description" content="DiaLogs">
        <link rel="stylesheet" href="../static/home.css">
    </head>                                                                                                      
                                                
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">ML</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/heart">Heart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/diabetes">Diabetes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liverprediction">Liver</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kidneydisease">Kidney</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/backpain">Back Pain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Tuberculosis">Tuberculosis</a>
      </li>
    </ul>
  </div>
</nav>


{% block content %}

{% endblock %}

</body>
</html>
                                                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">DiaLogs</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/why_us">Why Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kidney_form">Kidney Disease Predictor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kidney_disease_visualization">Kidney Disease Visualization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tips_to_overcome">Tips to Overcome</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}

{% endblock %}
                                                    
</body>
</html>
