<!DOCTYPE html>
<html>
    <head>
        <title>Visualizations</title>
        <meta charset="UTF-8">
        <meta name="description" content="Kidney Disease Visualizations">
        <link rel="stylesheet" href="../static/home.css">
    </head>                                                                                                      
                                                
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">                                                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Kidney Disease Visualizations</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Kidney Disease Visualizations</a>
    </ul>
    </a>
      </li>
  </div>
  <div class="container">
<h2>Visualize it</h2>
    <h3>Here we shall visualize and differentiate various kidney related problem</h3>
    <p>Let's get into more briefer aspects of renal and nephrology concepts</p>
 
<h2>Healthy Kidneys Vs Diseased Kidneys </h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='normal_disease.jpg') }}"/>
   </div>
<h2>Overview</h2>
<p>This is a comparison of normal Vs diseased kidney. We can notice how healthy kidney looks like rather than diseased one. </p>
      
<h2>Chronic Kidney Diseases</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='chronic_kidney_disease.jpg') }}"/>
   </div>
<h2>Overview</h2>
<p>It shows visualization of chronic kidney diseases where the right and left kidneys are infected.</p>

<h2>Kidney Stones</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='kidney_stone.jpg') }}"/>
   </div><br>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='kidney_stone1.jpg') }}"/>
   </div><br>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='kidney_stone2.jpg') }}"/>
   </div>
<h2>Overview</h2>
<p>We could notice the formation of stones with ranges shown in mm to see how it's spread across the kidney</p>
      
<h2>Cysts</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='cysts.jpg') }}"/>
   </div><br>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='multiple%20cysts.gif') }}"/>
   </div><br>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='polycystic.gif') }}"/>
   </div>
<h2>Overview</h2>
<p>Visualizations of multiple cysts inside kidney and how it's populated can be seen here.</p>
      
<h2>Dialysis</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='dialysis.jpg') }}"/>
   </div><br>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="{{ url_for('static', filename='dialysis%201.gif') }}"/>
   </div>
<h2>Overview</h2>
<p>Visualization of dialysis treatment and how kidney looks in dialysis patients</p>
      
<br> 
<hr>
<br>
                                                    
</body>
</html>

