<!DOCTYPE html>
<html>
    <head>
        <title>DiaLogs</title>
        <meta charset="UTF-8">
        <meta name="description" content="Tips to Overcome">
        <link rel="stylesheet" href="../static/home.css">
    </head>                                                                                                      
                                                
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">                                                
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Tips to Overcome</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Tips to Overcome</a>
    </ul>
    </a>
      </li>
  </div>
  <div class="container">
<h2>Tips to Overcome</h2>
 <ul>
  <li>Avoid overeating as this can lead to diabetes and high blood pressure which may in turn damage your kidneys. </li>
  <li>If you know you have high blood pressure, avoid salt intake as much as possible and moderate alcohol consumption. </li>
  <li>It is extremely important to be compliant with all your medications to treat diabetes and high blood pressure as this may slow the decline in your kidney function. </li>
  <li>Avoid excessive use of non-steroidal pain medication.</li>
  <li>Stay well hydrated. The best gauge of adequate hydration is that your urine should appear pale yellow and not too dark.</li>
  <li>If you are a smoker, you should work with your primary care physician on a strategy to discontinue this harmful habit.</li>

</ul>
<br> 
<hr>
<br>

{% block content %}

{% endblock %}
                                                    
</body>
</html>
